@import 'assets/scss/styles.scss';

.task {
  position: relative;
  display: flex;
  background-color: $white;
  border-radius: $base-border-radius;
  box-shadow: 1px 1px 2px rgba($black, .1);

  // checkbox
  &__checkbox {
    position: relative;
    height: auto;
    flex-basis: 50px;
    background-color: $color-accent;
    .is-completed & {
      background-color: $color-disabled;
    }
  }
  &__input {
    display: none;
  }
  &__label {
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 10px;
    top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($white, .5);
    border-radius: $base-border-radius;
    &::before {
      content: '';
      position: absolute;
      width: 10px;
      height: 5px;
      border-left: 2px solid $color-text;
      border-bottom: 2px solid $color-text;
      transform: translateY(-1px) rotate(-45deg);
      opacity: 0;
      visibility: hidden;
    }
    &:hover {
      background-color: rgba($white, .75);
    }
    &:hover::before {
      opacity: 1;
      visibility: visible;
    }
  }
  &__input:checked + &__label::before {
    opacity: 1;
    visibility: visible;
  }

  // body
  &__body {
    padding: 15px;
    max-width: 220px;
  }
  &__title {
    .is-completed & {
      color: $color-disabled;
      text-decoration: line-through;
    }
  }
  &__description {
    font-size: $font-size-sm-3;
    color: $color-label;
  }
  &__title,
  &__description {
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }
  
  // actions
  &__actions {
    position: absolute;
    top: 10px;
    right: 5px;
  }
  &__doots {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
  }
  &:hover &__doots,
  &__doots:focus {
    opacity: 1;
    visibility: visible;
  }
  &__doots:hover,
  &__doots:focus {
    color: $color-primary;
  }
}
