// BASE

body {
  background-color: $color-grey;
  font-family: $font-base;
  font-size: $font-size-md-1;
  font-weight: 500;
  color: $color-text;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .2);
  }
}
button,
a {
	@extend %tap-highlight;
}
