@import 'assets/scss/styles.scss';

.chip {
  &__input {
    display: none;
  }
  &__label {
    @extend %tap-highlight;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    min-height: 28px;
    padding: {
      left: 12px;
      right: 12px;
    };
    border-radius: 14px;
    font-size: $font-size-sm-2;
    font-weight: 600;
    text-transform: capitalize;
    color: $color-primary;
    transition-duration: .3s;
    cursor: pointer;
    white-space: nowrap;
    &:hover {
      background-color: rgba($color-primary, 0.1);
    }
  }
  &__input:checked + &__label {
    color: $white;
    background-color: $color-primary;
    &:hover {
      background-color: lighten($color-primary, 3%);
    }
  }
}
