@import 'assets/scss/styles.scss';

.Home {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: #f9f9f9;
}

.tasks {
  width: 300px;
  padding: 8px;
  border-radius: 4px;
  background-color: #EDECEE;
  &__title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
  }
  &__input {
    width: 100%;
    border-radius: 4px;
    background-color: darken(#EDECEE, 5%);
    // background-color: #E1DFE2;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 14px;
    transition: .3s;
    &:hover {
      // background-color: #D8D6D9;
      background-color: darken(#EDECEE, 10%);
    }
    &:focus {
      background-color: #fff;
    }
    &::placeholder {
      font-weight: 600;
    }
  }
  &__wrapper {
    display: grid;
    row-gap: 5px;    
  }
  &__empty {
    font-size: 14px;
    text-align: center;
    margin: {
      top: 5px;
      bottom: 5px;
    }
    color: #999;
  }
}
