@import 'assets/scss/styles.scss';

.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  min-height: 36px;
  padding: {
    left: 16px;
    right: 16px;
  }
  border-radius: $base-border-radius;
  background-color: $grey-lighten-2;
  color: $grey-darken-4;
  font-size: $font-size-sm-3;
  text-transform: capitalize;
  transition-duration: .3s;
  overflow: hidden;
  &:hover {
    background-color: darken($grey-lighten-2, 5%);
  }

  &__content {
    display: flex;
    align-items: center;
    column-gap: 5px;
    pointer-events: none;
  }
  &__icon {
    font-size: $font-size-md-1;
  }
  &__ripple {
    position: absolute;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: $grey-darken-4;
    pointer-events: none;
    animation: ripple .5s linear;
    opacity: .5;
  }

  // Colors
  @each $name, $color in $colors {
    &--#{$name} {
      background-color: $color;
      &:focus {
        box-shadow: 0 0 0 1px rgba($color, .6);
      }
      
      @if $color == $yellow or $color == $white or $color == $light {
        &:hover {
          background-color: darken($color, 5%);
        }
      } @else {
        color: $white;
        &:hover {
          background-color: lighten($color, 3%);
        }
        .button__ripple {
          background-color: $white;
        }
      }
    }
  }

  // Sizes
  &--x-small {
    min-width: 36px;
    min-height: 20px;
    padding: {
      left: 8px;
      right: 8px;
    };
    font-size: 10px;
    .button__icon {
      font-size: 10px;
    }
  }

  &--small {
    min-width: 60px;
    min-height: 28px;
    padding: {
      left: 12px;
      right: 12px;
    };
    font-size: $font-size-sm-2;
    .button__icon {
      font-size: $font-size-sm-3;
    }
  }

  &--large {
    min-width: 120px;
    min-height: 44px;
    padding: {
      left: 20px;
      right: 20px;
    };
  }

  &--x-large {
    min-width: 150px;
    min-height: 52px;
    padding: {
      left: 24px;
      right: 24px;
    };
    font-size: $font-size-md-1;
    .button__icon {
      font-size: $font-size-md-2;
    }
  }

  // Block
  &--block {
    width: 100%;
  }

  // Elevation
  &--elevation {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
    0 2px 2px rgba(0,0,0,.14),
    0 1px 5px rgba(0,0,0,.12);
  }

  // Rounded
  &--rounded {
    border-radius: 26px;
  }

  // Text
  &--text {
    background-color: transparent;
    box-shadow: none;
    &:hover {
      background-color: rgba($grey-lighten-2, 0.5);
    }

    @each $name, $color in $colors {
      &.button--#{$name} {
        color: $color;
        &:hover {
          background-color: rgba($color, 0.1);
        }
        .button__ripple {
          background-color: $color;
          opacity: .2;
        }
      }
    }
  }

  // Outlined
  &--outlined {
    @extend .button--text;
    border: 1px solid $grey-darken-4;
    @each $name, $color in $colors {
      &.button--#{$name} {
        border-color: $color;
        &:hover {
          background-color: rgba($color, 0.075);
        }
      }
    }
  }

  // Is Icon & sizes
  &--is-icon {
    min-width: 56px;
    min-height: 56px;
    border-radius: 50%;
    padding: 0;
    .button__icon {
      font-size: $font-size-md-2;
    }

    &.button--x-small {
      min-width: 32px;
      min-height: 32px;
      .button__icon {
        font-size: $font-size-md-1;
      }
    }
    &.button--small {
      min-width: 40px;
      min-height: 40px;
    }
    &.button--large {
      min-width: 64px;
      min-height: 64px;
      .button__icon {
        font-size: $font-size-md-3;
      }
    }
    &.button--x-large {
      min-width: 72px;
      min-height: 72px;
      .button__icon {
        font-size: $font-size-lg-1;
      }
    }
    &.button--outlined {
      border-width: 2px;
    }
  }

  // Loading
  &--is-loading{
    pointer-events: none;
    transition-duration: 0s;
  }

  // Disabled
  &:disabled {
    pointer-events: none;
    background-color: $color-disabled;
    color: $grey;
    box-shadow: none;
  }
  &--text:disabled,
  &--outlined:disabled {
    background-color: transparent;
    color: $color-disabled;
  }
  &--outlined:disabled {
    border-color: $color-disabled;
  }
}

@keyframes ripple {
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
	}
}
