@import 'assets/scss/styles.scss';

.radio-group {
  width: 100%;
  display: flex;
  column-gap: 10px;
  overflow-x: auto;
  white-space: nowrap;
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .2);
  }
}