@import 'assets/scss/styles.scss';

.task-form {
  background-color: $color-grey;
  border-radius: $base-border-radius;
  padding: $app-padding-sm;
  height: 100%;
  @include mobile($bp-sm-2) {
    padding: $app-padding-md;
  }
  &__title {
    margin-bottom: 10px;
    font-size: $font-size-md-2;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }
  &__inputs {
    display: grid;
    row-gap: 20px;
  }
  &__buttons {
    margin-top: 20px;
    display: flex;
    column-gap: 10px;
    justify-content: flex-end;
  }
}