@import 'assets/scss/styles.scss';

.tasks {
  width: 300px;
  &__title {
    font-weight: 600;
    font-size: $font-size-md-2;
    margin-bottom: 10px;
  }
  &__status {
    margin-bottom: 10px;
  }
  &__body {
    padding: 8px;
    border-radius: $base-border-radius;
    background-color: $grey-lighten-3;
  }
  &__form {
    margin-bottom: 10px; 
  }
  &__wrapper > div {
    display: grid;
    row-gap: 5px;   
  }
  &__not-found {
    display: grid;
    justify-items: center;
    row-gap: 10px;
    padding: {
      top: 20px;
      bottom: 20px;
    };
    font-size: $font-size-sm-3;
    &__img {
      width: 100px;
    }
    &__text {
      color: $color-label;
    }
  }

  // Transition
  &__transition {
    &-enter {
      opacity: 0;
      transform: translateX(-20px);
    }
    &-enter-active {
      opacity: 1;
      transform: translateX(0);
      transition-property: opacity, transform;
      transition-duration: 0.15s;
      transition-timing-function: linear;
    }
    &-exit {
      opacity: 1;
    }
    &-exit-active {
      opacity: 0;
      transform: translateX(20px);
      transition-property: opacity, transform;
      transition-duration: 0.15s;
      transition-timing-function: linear;
    }
  }
}
