@import 'assets/scss/styles.scss';

.tasks {
  width: 300px;
  padding: 8px;
  border-radius: $base-border-radius;
  background-color: $grey-lighten-3;
  &__title {
    font-weight: 600;
    font-size: $font-size-md-2;
    margin-bottom: 10px;
  }

  &__not-found {
    display: grid;
    justify-items: center;
    row-gap: 10px;
    padding: {
      top: 20px;
      bottom: 20px;
    };
    font-size: $font-size-sm-3;
    &__img {
      width: 100px;
    }
    &__text {
      color: $color-label;
    }
  }
  
  &__wrapper > div {
    display: grid;
    row-gap: 5px;   
    margin-top: 10px; 
  }

  // Transition
  &__transition {
    &-enter {
      max-height: 0;
      opacity: 0;
      transform: translateX(-20px);
    }
    &-enter-active {
      max-height: 54px;
      opacity: 1;
      transform: translateX(0);
      transition: max-height 0.3s linear, opacity 0.3s linear 0.25s, transform 0.3s linear 0.25s;
    }
    &-exit {
      max-height: 54px;
      opacity: 1;
    }
    &-exit-active {
      max-height: 0;
      opacity: 0;
      transform: translateX(20px);
      transition: max-height 0.3s linear 0.25s, opacity 0.3s linear, transform 0.3s linear;
    }
  }
}
