@import 'assets/scss/styles.scss';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($black, .5);

  &-enter,
  &-appear {
    opacity: 0;
  }
  &-enter-active,
  &-appear-active  {
    opacity: 1;
    transition: opacity .1s;
  }
  &-exit {
    opacity: 1;
  }
  &-exit-active {
    opacity: 0;
    transition: opacity .1s;
  }

  &__body {
    transform: scale(0);
    transition: transform .3s;
    &--active {
      transform: scale(1);
      transition-delay: -0.1s;
    }
    &--mobile-full-size {
      @include desktop($bp-sm-1) {
        width: 100% !important;
        height: 100% !important;
        transform: translateY(100%);
      }
    }
    &--mobile-full-size#{&}--active {
      @include desktop($bp-sm-1) {
        transform: translateY(0);
      }
    }
  }
}
